<app-header></app-header>


<ion-content>

    <div style="display: flex;justify-content: center;align-items: center;height: 100%;">
        <div style="display: flex;flex-direction: column; width: 85%; align-items: center;">

            <div>
                <img src="assets/images/TakeAway-Logo-2-1.png" alt="">
            </div>

            <div style="width: 100%; text-align: center; font-size: 2rem; font-weight: bold; margin: 3rem 0;">
                Cerrar Sesión
            </div>

            <ion-spinner *ngIf="loading>0" style="zoom: 2;margin: 1rem 0 -1rem 2px;" name="bubbles" color="primary">
            </ion-spinner>

            <ion-button [disabled]="loading>0" (click)="btnCerrar()" color="primary"
                style="width: 50%;margin-top: 3rem;">
                <div style="color: white;font-weight: bold;text-transform: none;">
                    Cerrar Sesión
                </div>
            </ion-button>

            <ion-button expand="block" fill="clear" shape="round" style="width: 60%;text-transform: none;">
                Olvidé mi contraseña
            </ion-button>
        </div>
    </div>

</ion-content>