<app-header></app-header>


<ion-content style="--background: whitesmoke;">
  <ion-progress-bar *ngIf="loading>0" type="indeterminate"></ion-progress-bar>

  <ion-card style="padding: 10px;" *ngIf="initTransit && initTransit.length>0">
    <div style="display: flex; flex-direction: column; width: 100%;">
      <div style="color: var(--ion-color-primary);font-size: 10px;">Pedidos en tránsito</div>


      <!-- elemento a repetir -->
      <div>
        <div
          style="display: flex; flex-direction: row;margin: 5px; color: var(--ion-color-primary);border-bottom: 1px solid #f15a241a;"
          [ngStyle]="{'color': getdateEntregaDays(item)=== 'ATRASADO'  ? 'red' :'var(--ion-color-primary)'}"
          *ngFor="let item of initTransit">
          <div
            style="font-weight: bold; font-size: 30px; width: 20%; display: flex; justify-content: center; align-items: center; margin-right: 5px;">
            {{item.order_code}}
          </div>
          <div style="width: 50%;display: flex; flex-direction: column;justify-content: center;">
            <div>{{item.nombre_cliente | titlecase}}</div>
          </div>
          <div style="width: 30%;display: flex; flex-direction: column;justify-content: center; align-items: flex-end;">
            <div>{{ getdateEntrega(item.dispatch_date)}}</div>
            <div style="display: flex; flex-direction: row; font-size: 10px;">
              <div style="margin: 0 2px;"
                [ngClass]=" getdateEntregaDays(item)=== 'ATRASADO' ? 'atrasado' : null ">
                {{getdateEntregaDays(item)}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; justify-content: flex-end;">
        <div (click)="gotoPedidosEnPreparacion()"
          style="display: flex;flex-direction: row; align-items: center; color: var(--ion-color-primary);font-size: 10px;margin-top: 10px;">
          <div>Ver todos los pedidos en tránsito</div>
          <ion-icon name="caret-forward"></ion-icon>
        </div>
      </div>
      
    </div>

  </ion-card>

  <!-- primara columna Pedidos -->
  <div style="width: 100%; background-color: white; margin: 0.2rem 0;">
    <div style="margin: 0.5rem 0 0 1rem;;">Hoy</div>

    <div class="fila1pedidos" *ngIf="apiHome">

      <ion-card style="width: 40%;">
        <ion-card-header style="text-align: center;">
          <ion-card-title>{{apiHome.acumulado.cantidad}}</ion-card-title>
          <ion-card-subtitle>PEDIDOS</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card style="text-align: end; width: 60%;">
        <ion-card-header>
          <ion-card-title> {{apiHome.acumulado.total.toLocaleString('de-DE')}} €</ion-card-title>
          <ion-card-subtitle>EN PEDIDOS</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

    </div>

    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <ion-button fill="clear" style="--padding-start:2px; --padding-end:2px" (click)="btnPedidosHistorico()">
        Histórico de pedidos
      </ion-button>
      <ion-button fill="clear" style="--padding-start:2px; --padding-end:2px" (click)="btnPedidosTableroReciente()">
        Ir al panel de pedidos
      </ion-button>
    </div>


    <!-- mostrando totales por Zonas -->
    <div style="margin: 0.5rem 0; background-color: white;">

      <div *ngIf="apiHome && apiHome['porZona'] && apiHome['porZona'].length > 0">
        <ion-item *ngFor="let item of apiHome.porZona" style="">
          <ion-badge slot="start" color="primary" mode="ios" style="color:white">{{item.cantidad}}</ion-badge>
          <ion-label>{{item.nombre}}</ion-label>
          <ion-badge slot="end" color="primary" mode="ios" style="color:white">{{item.total.toLocaleString('de-DE')}}€
          </ion-badge>
        </ion-item>
      </div>

    </div>


  </div>


</ion-content>