ion-card {
  // width: 100%;
}

ion-card-title {
  font-size: 2rem;
  font-weight: bold;
}

ion-card-subtitle {
  color: var(--ion-color-primary);
}

.fila1pedidos {
  display: flex;
  flex-direction: row;
  width: 100%;
}

ion-button {
  text-transform: none;
}

ion-badge {
  //   --background: gray;
}


.atrasado{
  font-weight: bold;
  font-size: 15px;
}