<ion-header>

  <ion-toolbar style="--background: var(--ion-color-primary);">

    <div style="width: 100%; display: flex;flex-direction: row; align-items: center; padding: 0 5vw;">
      <div style="width: 100%; display: flex;flex-direction: column; color: var(--ion-color-light);">
        <div style="font-size: 1rem; font-weight: bold;">{{nombreCajero}}</div>
        <div style="font-size: 0.8rem;margin-top: 0.5rem;">{{nombreEmpresa}}</div>
      </div>
      <div>
        <img [src]="urlLogo" alt="" style="height: 3rem;">
      </div>
    </div>

  </ion-toolbar>
</ion-header>