// ion-card {
//   width: 100%;
// }

ion-card-title {
  font-size: 2rem;
  font-weight: bold;
}

ion-card-subtitle {
  color: var(--ion-color-primary);
}

.fila1pedidos {
  display: flex;
  flex-direction: row;
  width: 100%;
}

ion-button {
  text-transform: none;
}

ion-badge {
  //   --background: gray;
}

.btnTabActivated {
  color: var(--ion-color-primary);
}

.btnTabDesactivated {
  // color: grey;
  color: var(--ion-color-secondary-tint);
}

.clienteInfo {
  div {
    margin: 0.5rem 0;
  }
}
.clienteInfoSeparado {
  background-color: f1f1f1;
  // box-shadow: 0px 0px 9px -5px grey;
  // padding: 0 3vw;
  // margin: 0 3vw 1rem 3vw;
  margin: 2rem 3vw 1rem 3vw !important;
  // border-radius: 1rem;
  width: 50%;
  // justify-content: center;
  // position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 9px -5px var(--ion-color-primary);
  // width: 100%;
}

@media only screen and (max-width: 450px) {
  .clienteInfo {
    flex-wrap: wrap;
    justify-content: center;
  }
  .clienteInfoSeparado {
    width: 100%;
  }
}

.badge {
  padding: 3px;
  background-color: #f15a24;
  font-size: 0.6em;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  text-shadow: 0 1px 1px #777;
}


.alert-card{
  background-color: white;
  padding: 10px;
  border-radius: 14px;
  margin: 10px 0;
  text-align: center;
}