<app-header></app-header>


<ion-content style="--background: whitesmoke;">
  <ion-progress-bar *ngIf="loading>0" type="indeterminate"></ion-progress-bar>


  <!-- div histórico -->
  <div *ngIf="showHistorico" class="animated fadeIn"
    style="width: 100%; background-color: whitesmoke; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="ocultarTodo(); showPedidos = true ; showRecientes=true"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem; background-color: white;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Tablero de pedidos</div>
    </div>

    <!-- titulo de vista -->
    <div
      style="background-color: white; width: 100%; text-align: center; font-size: 1.2rem; font-weight: bold;margin: 0.2rem 0; padding: 0.5rem 0;">
      Buscar pedidos
    </div>

    <!-- buscar por fechas, estados, metodos de pago, zonas -->
    <div style="display: flex; justify-content: center; flex-wrap: wrap; ">

      <!-- fechas -->
      <div class="clienteInfoSeparado"
        style="background-color: white;  display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 0.7rem;margin: 0.25rem; max-width: 300px;">
        <div>

          <div
            style="font-size: 1rem; font-weight: bold;background-color: var(--ion-color-primary); color: white;border-radius: 1rem;padding: 0.5rem 1rem;position: absolute;top: -1rem;left: 0.5rem;">
            Por fecha
          </div>

          <ion-item>
            <ion-label>Fecha Inicio:</ion-label>
            <ion-datetime name="fechaI" #fechaI displayFormat="DD/MM/YYYY" placeholder="Fecha Inicio"
              cancelText="Cancelar" doneText="Listo" mode="ios" [(ngModel)]="myHistoricoPedido.fechaI"
              [min]="myHistoricoPedido.fechaImin" [max]="myHistoricoPedido.fechaImax"
              (ionChange)="cambioFechaBuscarHistoricoPedido()"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Hora Inicio:</ion-label>
            <ion-datetime name="horaI" #horaI displayFormat="HH:mm" placeholder="Hora Inicio" cancelText="Cancelar"
              doneText="Listo" mode="ios" [(ngModel)]="myHistoricoPedido.horaI">
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Fecha Fin:</ion-label>
            <ion-datetime name="fechaF" #fechaF displayFormat="DD/MM/YYYY" placeholder="Fecha Fin" cancelText="Cancelar"
              doneText="Listo" mode="ios" [(ngModel)]="myHistoricoPedido.fechaF" [min]="myHistoricoPedido.fechaFmin"
              [max]="myHistoricoPedido.fechaFmax">
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Hora Fin:</ion-label>
            <ion-datetime name="horaF" #horaF displayFormat="HH:mm" placeholder="Hora Fin" cancelText="Cancelar"
              doneText="Listo" mode="ios" [(ngModel)]="myHistoricoPedido.horaF">
            </ion-datetime>
          </ion-item>
        </div>
      </div>

      <!-- Estado de pedidos -->
      <div class="clienteInfoSeparado"
        style="background-color: white;  display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 0.7rem;margin: 0.25rem; max-width: 300px;">
        <div
          style="font-size: 1rem; font-weight: bold;background-color: var(--ion-color-primary); color: white;border-radius: 1rem;padding: 0.5rem 1rem;position: absolute;top: -1rem;left: 0.5rem;">
          Por estado
        </div>

        <div>
          <ion-item *ngFor="let item of estadoPedidos">
            <ion-label>{{item.nombre}}</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="item.selected" style="--checkmark-color: white;"></ion-checkbox>
          </ion-item>
        </div>
      </div>

      <!-- metodos de pago -->
      <div class="clienteInfoSeparado"
        style="background-color: white;  display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 0.7rem;margin: 0.25rem; max-width: 300px;">
        <div
          style="font-size: 1rem; font-weight: bold;background-color: var(--ion-color-primary); color: white;border-radius: 1rem;padding: 0.5rem 1rem;position: absolute;top: -1rem;left: 0.5rem;">
          Por zonas
        </div>
        <div>
          <ion-item *ngFor="let item of zonas">
            <ion-label>{{item.nombre}}</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="item.selected" style="--checkmark-color: white;"></ion-checkbox>
          </ion-item>
        </div>
      </div>

      <!-- zonas -->
      <div class="clienteInfoSeparado"
        style="background-color: white;  display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 0.7rem;margin: 0.25rem; max-width: 300px;">
        <div
          style="font-size: 1rem; font-weight: bold;background-color: var(--ion-color-primary); color: white;border-radius: 1rem;padding: 0.5rem 1rem;position: absolute;top: -1rem;left: 0.5rem;">
          Por método de pago
        </div>
        <div>
          <ion-item *ngFor="let item of metodosDePago">
            <ion-label>{{item.nombre}}</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="item.selected" style="--checkmark-color: white;"></ion-checkbox>
          </ion-item>
        </div>
      </div>

    </div>

    <div style="width: 100%; display: flex; justify-content: center;margin: 0.5rem;">
      <ion-button (click)="btnBuscarHistoricoPedidos()" style="--color:white; font-weight: bold;width: 70vw;">
        Buscar pedidos
      </ion-button>
    </div>

  </div>


  <!-- div históricoResultado -->
  <div *ngIf="showHistoricoResultado" class="animated fadeIn"
    style="width: 100%; background-color: whitesmoke; margin: 0.2rem 0;">
    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="ocultarTodo(); showHistorico = true"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem; background-color: white;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Buscar Pedidos</div>
    </div>

    <!-- titulo de vista -->
    <div
      style="background-color: white; width: 100%; text-align: center; font-size: 1.2rem; font-weight: bold;margin: 0.2rem 0; padding: 0.5rem 0;">
      Resultados de la Busqueda
    </div>


    <div class="fila1pedidos">

      <ion-card style="width: 40%;">
        <ion-card-header style="text-align: center;">
          <ion-card-title>{{ allHistorico.count }}</ion-card-title>
          <ion-card-subtitle>TOTAL (Cantidad)</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card style="text-align: end; width: 60%;">
        <ion-card-header style="text-align: center;">
          <ion-card-title> {{ allHistorico.total.toLocaleString('de-DE')}} €</ion-card-title>
          <ion-card-subtitle>TOTAL (€)</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

    </div>


    <!-- cabecera tabla de productos -->
    <div
      style="display: flex; flex-direction: row; padding: 0.5rem 0.1rem; font-weight: bold; background-color: lightgray;">
      <div style="width: 10%;text-align: center;">Estado</div>
      <div style="width: 30%;text-align: center;">Fecha</div>
      <div style="width: 15%;text-align: center;">#</div>
      <div style="width: 30%;text-align: center;">Cliente</div>
      <div style="width: 15%;text-align: center;">Total</div>
    </div>

    <!-- bucle de productos -->
    <div *ngFor="let prod of allHistorico.data" (click)="seleccionandoPedidoHistorico(prod)"
      style="display: flex; flex-direction: row; border-bottom: 1px solid lightgray;padding: 1rem 0.5rem;">

      <div>
        <span class="badge">{{ prod.estado }}</span>
      </div>

      <!-- Fecha -->
      <div style="width: 40%;display: flex;justify-content: center; align-items: center;text-align: center;">

        {{prod.created_at | date :'dd/MM/yyyy HH:mm'}}
      </div>

      <!-- Código -->
      <div style="width: 15%;display: flex;justify-content: center; align-items: center;text-align: center;">
        {{prod.order_code}}
      </div>

      <!-- Cliente -->
      <div *ngIf="prod.client && prod.client.nombre"
        style="width: 30%;display: flex;justify-content: center; align-items: center;text-align: center;">
        {{prod.client.nombre}}
      </div>

      <!-- Total -->
      <div style="width: 15%;display: flex;justify-content: center; align-items: center;text-align: center;">
        {{prod.total.toLocaleString('de-DE')}} €
      </div>

    </div>

  </div>


  <!-- div históricoDetalle -->
  <div *ngIf="showHistoricoDetalle" class="animated fadeIn"
    style="width: 100%; background-color: whitesmoke; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="ocultarTodo(); showHistoricoResultado = true"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem; background-color: white;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Lista histórico Pedidos</div>
    </div>

    <!-- titulo de vista -->
    <div
      style="background-color: white; width: 100%; text-align: center; font-size: 1.2rem; font-weight: bold;margin: 0.2rem 0; padding: 0.5rem 0;">
      Detalle del pedido seleccionado
    </div>

    <!-- información del pedido -->
    <div style="display: flex; justify-content: center; margin: 1rem 0; flex-direction: column;"
      *ngIf="pedidoHistoricoSeleccionado">

      <!-- info Gral -->
      <div
        style="display: flex; flex-direction: column; background-color: white;border-radius: 1rem; padding: 0.5rem; margin: 1rem;">

        <div *ngIf="pedidoHistoricoSeleccionado.client && pedidoHistoricoSeleccionado.client.nombre"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Cliente:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.client.nombre}}
          </div>
        </div>

        <div *ngIf="pedidoHistoricoSeleccionado.view.client.tel"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Cliente Tlf:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.client.tel}}
          </div>
        </div>

        <div *ngIf="pedidoHistoricoSeleccionado.view.client.email"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Cliente email:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.client.email}}
          </div>
        </div>

        <div *ngIf="pedidoHistoricoSeleccionado.view.created_at"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Fecha Creado:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.created_at | date: 'dd/MM/yyyy HH:mm'}}
          </div>
        </div>

        <div *ngIf="pedidoHistoricoSeleccionado.view.aceptado_at"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Fecha Aceptado:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.aceptado_at | date: 'dd/MM/yyyy HH:mm'}}
          </div>
        </div>

        <div *ngIf="pedidoHistoricoSeleccionado.view.recibido_at"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Fecha Recibido:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.recibido_at | date: 'dd/MM/yyyy HH:mm'}}
          </div>
        </div>

        <div *ngIf="pedidoHistoricoSeleccionado.view.despachado_at"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Fecha Despachado:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.despachado_at | date: 'dd/MM/yyyy HH:mm'}}
          </div>
        </div>

        <div *ngIf="pedidoHistoricoSeleccionado.view.enviado_at"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Fecha Enviado:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.enviado_at | date: 'dd/MM/yyyy HH:mm'}}
          </div>
        </div>

        <div *ngIf="pedidoHistoricoSeleccionado.view.anulado_at"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Fecha Anulado:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.anulado_at | date: 'dd/MM/yyyy HH:mm'}}
          </div>
        </div>


        <div *ngIf="pedidoHistoricoSeleccionado.view.razon_anulado"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Razón Anulado:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.razon_anulado}}
          </div>
        </div>

        <div *ngIf="pedidoHistoricoSeleccionado.view.razon_anulado"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            tiempo:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.razon_anulado}}
          </div>
        </div>

        <div *ngIf="pedidoHistoricoSeleccionado.view.dir"
          style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Dirección:
          </div>
          <div style="font-weight: bold; margin-right:1rem">
            {{pedidoHistoricoSeleccionado.view.dir}}
          </div>
          <div *ngIf="pedidoHistoricoSeleccionado.view.dir2" style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.dir2}}
          </div>
        </div>

        <div style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Código de Orden:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.order_code}}
          </div>
        </div>


        <div *ngIf="pedidoHistoricoSeleccionado.zone" style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Zona:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.zone.nombre}}
          </div>
        </div>

        <div style="display: flex; flex-direction: row; align-items: center; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Método de Pago:
          </div>
          <div style="display: flex; flex-direction: row; align-items: center;">
            <img [src]="pedidoHistoricoSeleccionado.payMethod.icon" style width="40px" alt="">
            <div style="font-weight: bold;">
              {{pedidoHistoricoSeleccionado.payMethod.nombre}}
            </div>
          </div>
        </div>

        <div style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Total:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.total.toLocaleString('de-DE')}} €
          </div>
        </div>

        <div style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            RefTransacción:
          </div>
          <div style="font-weight: bold;">
            {{pedidoHistoricoSeleccionado.view.ref_transaccion}}
          </div>
        </div>

      </div>


      <!-- items -->
      <div *ngFor="let item of pedidoHistoricoSeleccionado.view.items; let i = index"
        style="display: flex; flex-direction: column; background-color: white;border-radius: 1rem; padding: 0.5rem; margin: 1rem;">

        <div *ngIf="item.cantidad" style="display: flex; flex-direction: row; padding: 0.5rem 0; ">
          <div style="font-weight: bold; font-size: 1.2rem;">
            ITEM N°{{i+1}}
          </div>
        </div>

        <div *ngIf="item.cantidad" style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Cantidad:
          </div>
          <div style="font-weight: bold;">
            {{item.cantidad}}
          </div>
        </div>

        <div *ngIf="item.item_name" style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Producto:
          </div>
          <div style="font-weight: bold;">
            {{item.item_name}}
          </div>
        </div>

        <div *ngIf="item.nota_alergenos" style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">

            Alergenos:
          </div>
          <div style="font-weight: bold;">
            {{item.nota_alergenos}}
          </div>
        </div>

        <div *ngIf="item.nota_excluidos" style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Excluidos:
          </div>
          <div style="font-weight: bold;">
            {{item.nota_excluidos}}
          </div>
        </div>

        <div *ngIf="item.nota_variaciones" style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Variaciones:
          </div>
          <div style="font-weight: bold;">
            {{item.nota_variaciones}}
          </div>
        </div>

        <div *ngIf="item.precio" style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Precio:
          </div>
          <div style="font-weight: bold;">
            {{item.precio.toLocaleString('de-DE')}} €
          </div>
        </div>

        <div *ngIf="item.precio_vars" style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Precio de Variaciones:
          </div>
          <div style="font-weight: bold;">
            {{item.precio_vars.toLocaleString('de-DE')}} €
          </div>
        </div>

        <div *ngIf="item.precio_neto" style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            Precio Neto:
          </div>
          <div style="font-weight: bold;">
            {{item.precio_neto.toLocaleString('de-DE')}} €
          </div>
        </div>


        <div *ngIf="item.subtotal" style="display: flex; flex-direction: row; padding: 0.5rem 0;">
          <div style="margin-right:0.5rem">
            SubTotal:
          </div>
          <div style="font-weight: bold;">
            {{item.subtotal.toLocaleString('de-DE')}} €
          </div>
        </div>


      </div>




    </div>




  </div>


  <!-- div tablero -->
  <div *ngIf="showPedidos">

    <!-- Btn Historico de pedidos -->
    <div style="text-align: right;">
      <ion-button fill="clear" (click)="btnHistoricoPedidos()">
        Histórico Pedidos
      </ion-button>
    </div>

    <!-- 1ra Fila Boton actualización -->
    <div [ngClass]="{ 'animated shakeX': animarBtnActualizacion }"
      style="width: 100%; background-color: white; margin-bottom: 0.5rem ;">
      <ion-button (click)="btnActualizarTableroDePedidos()" expand="block" fill="clear">
        <div
          style="display: flex;flex-direction: row; justify-content: space-evenly; width: 100%; align-items: center;">
          <div style="display: flex; flex-direction: column; width: 100%;color: black;">
            <div style="font-weight: bold;text-align: start;">Tablero de pedidos</div>
            <div style="display: flex; flex-direction: row; justify-content: flex-start;">
              <div>Última actualización hace </div>
              <div style="margin: 0 5px;">{{lastUpdateTime|timeDiff:nowTime}}</div>
              <!-- <div>min</div> -->
            </div>
          </div>
          <div>
            <ion-icon style="color: var(--ion-color-secondary);zoom: 2;" name="reload-circle"></ion-icon>
          </div>
        </div>
      </ion-button>

    </div>

    <!-- panel y lista de pedidos o ordenes -->
    <div *ngIf="!showOrdenDetalle">

      <!-- 2da fila, Barra TABS => | Recientes | En Preparacion | Despachados | Anulados |-->
      <div style="width: 100%; background-color: white; margin: 0.2rem 0;">
        <div style="display: flex; flex-direction: row;">

          <ion-button (click)="btnTabRecientes()" style="width: 100%;height: 6rem;" expand="block" fill="clear">
            <div [ngClass]="{ 'btnTabActivated': showRecientes, 'btnTabDesactivated':!showRecientes}">
              <ion-icon style="zoom: 4;" name="time"></ion-icon>

              <div style="font-size: 2vw;" *ngIf="!ordenesPendientes">Recientes</div>
              <div style="font-size: 2vw;" *ngIf="ordenesPendientes && ordenesPendientes.length>0">Recientes <br> (
                {{ this.ordenesPendientes.length  }} )</div>

            </div>
          </ion-button>

          <ion-button (click)="btnTabPreparacion()" style="width: 100%;height: 6rem;" expand="block" fill="clear">
            <div [ngClass]="{ 'btnTabActivated': showPreparacion, 'btnTabDesactivated':!showPreparacion}">
              <ion-icon style="zoom: 4;" name="timer"></ion-icon>

              <div style="font-size: 2vw;" *ngIf="!ordenesEnPreparacion">En
                Preparación</div>
              <div style="font-size: 2vw;" *ngIf="ordenesEnPreparacion && ordenesEnPreparacion.length>0">En Preparación
                <br> (
                {{ this.ordenesEnPreparacion.length  }} )</div>
              <!-- <div style="font-size: 2vw;">En Preparación</div> -->
            </div>
          </ion-button>

          <ion-button (click)="btnTabDespachados()" style="width: 100%;height: 6rem;" expand="block" fill="clear">
            <div [ngClass]="{ 'btnTabActivated': showDespachados, 'btnTabDesactivated':!showDespachados}">
              <ion-icon style="zoom: 4;" name="checkmark-done-circle"></ion-icon>

              <!-- <div style="font-size: 2vw;">Despachados</div> -->


              <div style="font-size: 2vw;" *ngIf="!ordenesDespachadas">Despachados</div>
              <div style="font-size: 2vw;" *ngIf="ordenesDespachadas && ordenesDespachadas.length>0">Despachados
                <br> (
                {{ this.ordenesDespachadas.length  }} )</div>




            </div>
          </ion-button>

        </div>
      </div>

      <!-- ///////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////// PANELES PRINCIPALES /////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////////////////// -->

      <!-- showRecientes -->
      <div *ngIf="showRecientes" class="animated fadeIn" style="margin: 0.5rem 0; background-color: white;">

        <!-- item para bucle -->
        <ion-item (click)="btnGotoItem(orden)" *ngFor="let orden of ordenesPendientes">
          <div style="display: flex;flex-direction: row; align-items: center;">

            <div style="font-size: 3rem;color: var(--ion-color-primary); margin-right: 6vw;">{{orden.order_code}}</div>

            <div style="display: flex;flex-direction: column; margin: 0.5rem 0;">

              <!-- primera lìnea -->
              <div style="display: flex;flex-direction: row;align-items: center;">
                <ion-icon *ngIf="orden.pay_method.nombre==='Datáfono'"
                  style="margin-right: 0.4rem;color:var(--ion-color-primary)" name="card-outline">
                </ion-icon>
                <ion-icon *ngIf="orden.pay_method.nombre==='Efectivo'"
                  style="margin-right: 0.4rem;color:var(--ion-color-primary)" name="cash-outline">
                </ion-icon>
                <ion-icon *ngIf="orden.pay_method.nombre==='Mostrador'"
                  style="margin-right: 0.4rem;color:var(--ion-color-primary)" name="book-outline">
                </ion-icon>
                <div style="font-size: 1.2rem;">{{orden.pay_method.nombre}}</div>
              </div>

              <!-- iconos caso web app y kiosco , Segunda línea -->
              <div>
                <div *ngIf="orden.via === 'web' " style="display: flex; flex-direction: row; align-items: center;">
                  <ion-icon style="margin: 0 0.5rem 0 0;color:var(--ion-color-primary)" name="home"></ion-icon>
                  <div style="font-size: 0.8rem;">Local</div>
                </div>

                <div *ngIf="orden.via === 'kiosk' " style="display: flex; flex-direction: row; align-items: center;">
                  <ion-icon style="margin: 0 0.5rem 0 0;color:var(--ion-color-primary)" name="golf"></ion-icon>
                  <div style="font-size: 0.8rem;">Kiosco</div>
                </div>

                <div *ngIf="orden.via === 'app' " style="display: flex; flex-direction: row; align-items: center;">
                  <ion-icon style="margin: 0 0.5rem 0 0;color:var(--ion-color-primary)" name="phone-portrait">
                  </ion-icon>
                  <div style="font-size: 0.8rem;">App</div>
                </div>
              </div>

              <div style="display: flex; flex-direction: row;">
                <div>Hace</div>
                <div style="margin-left: 0.5rem;">{{orden.created_at|timeDiff:this.nowTime}}</div>
              </div>

              <div style="font-size: 0.8rem;margin: 0.3rem 0;">{{orden.resumenProductos}}</div>

              <div *ngIf="orden.client && orden.client.nombre">
                {{orden.client.nombre}}
              </div>

              <div *ngIf="orden.board && orden.board.nombre">
                {{orden.board.nombre}}
              </div>

            </div>
          </div>
          <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
        </ion-item>

      </div>

      <!-- showPreparacion -->
      <div *ngIf="showPreparacion" class="animated fadeIn" style="margin: 0.5rem 0; background-color: white;">

        <!-- item para bucle -->
        <ion-item (click)="btnGotoItem(orden)" *ngFor="let orden of ordenesEnPreparacion">
          <div style="display: flex;flex-direction: row; align-items: center;">

            <div style="display: flex; flex-direction: column;">
              <div style="text-align: center;" *ngIf="orden.is_overdue">
                <img src="./../../../assets/images/danger.png" alt="" style="width: 22px; height: 20px; margin: 0 4vw -10px 0">
              </div>
              <div style="font-size: 3rem;color: var(--ion-color-primary); margin-right: 6vw;">{{orden.order_code}}
              </div>
            </div>



            <div style="display: flex;flex-direction: column; margin: 0.5rem 0;">

              <div style="display: flex;flex-direction: row;align-items: center;">
                <ion-icon *ngIf="orden.pay_method.nombre==='Datáfono'"
                  style="margin-right: 0.4rem;color:var(--ion-color-primary)" name="card-outline">
                </ion-icon>
                <ion-icon *ngIf="orden.pay_method.nombre==='Efectivo'"
                  style="margin-right: 0.4rem;color:var(--ion-color-primary)" name="cash-outline">
                </ion-icon>
                <ion-icon *ngIf="orden.pay_method.nombre==='Mostrador'"
                  style="margin-right: 0.4rem;color:var(--ion-color-primary)" name="book-outline">
                </ion-icon>
                <div style="font-size: 1.2rem;">{{orden.pay_method.nombre}}</div>
              </div>

              <!-- iconos caso web app y kiosco , Segunda línea -->
              <div>
                <div *ngIf="orden.via === 'web' " style="display: flex; flex-direction: row; align-items: center;">
                  <ion-icon style="margin: 0 0.5rem 0 0;color:var(--ion-color-primary)" name="home"></ion-icon>
                  <div style="font-size: 0.8rem;">Web/Local</div>
                </div>

                <div *ngIf="orden.via === 'kiosco' " style="display: flex; flex-direction: row; align-items: center;">
                  <ion-icon style="margin: 0 0.5rem 0 0;color:var(--ion-color-primary)" name="golf"></ion-icon>
                  <div style="font-size: 0.8rem;">Web/Kiosco</div>
                </div>

                <div *ngIf="orden.via === 'app' " style="display: flex; flex-direction: row; align-items: center;">
                  <ion-icon style="margin: 0 0.5rem 0 0;color:var(--ion-color-primary)" name="phone-portrait">
                  </ion-icon>
                  <div style="font-size: 0.8rem;">App</div>
                </div>
              </div>


              <div style="display: flex; flex-direction: row;">
                <div>Hace</div>
                <div style="margin-left: 0.5rem;">{{orden.aceptado_at|timeDiff:this.nowTime}}</div>
              </div>

              <div style="font-size: 0.8rem;margin: 0.3rem 0;">{{orden.resumenProductos}}</div>

              <div *ngIf="orden.client && orden.client.nombre">{{orden.client.nombre}}</div>

              <div *ngIf="orden.board && orden.board.nombre">
                {{orden.board.nombre}}
              </div>


            </div>
          </div>
          <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
        </ion-item>
      </div>

      <!-- showDespachados -->
      <div *ngIf="showDespachados" class="animated fadeIn" style="margin: 0.5rem 0; background-color: white;">

        <!-- item para bucle -->
        <ion-item (click)="btnGotoItem(orden)" *ngFor="let orden of ordenesDespachadas">
          <div style="display: flex;flex-direction: row; align-items: center;">

            <div style="font-size: 3rem;color: var(--ion-color-primary); margin-right: 6vw;">{{orden.order_code}}</div>

            <div style="display: flex;flex-direction: column; margin: 0.5rem 0;">

              <div style="display: flex;flex-direction: row;align-items: center;">
                <ion-icon *ngIf="orden.pay_method.nombre==='Datáfono'"
                  style="margin-right: 0.4rem;color:var(--ion-color-primary)" name="card-outline">
                </ion-icon>
                <ion-icon *ngIf="orden.pay_method.nombre==='Efectivo'"
                  style="margin-right: 0.4rem;color:var(--ion-color-primary)" name="cash-outline">
                </ion-icon>
                <ion-icon *ngIf="orden.pay_method.nombre==='Mostrador'"
                  style="margin-right: 0.4rem;color:var(--ion-color-primary)" name="book-outline">
                </ion-icon>
                <div style="font-size: 1.2rem;">{{orden.pay_method.nombre}}</div>
              </div>

              <!-- iconos caso web app y kiosco , Segunda línea -->
              <div>
                <div *ngIf="orden.via === 'web' " style="display: flex; flex-direction: row; align-items: center;">
                  <ion-icon style="margin: 0 0.5rem 0 0;color:var(--ion-color-primary)" name="home"></ion-icon>
                  <div style="font-size: 0.8rem;">Web/Local</div>
                </div>

                <div *ngIf="orden.via === 'kiosco' " style="display: flex; flex-direction: row; align-items: center;">
                  <ion-icon style="margin: 0 0.5rem 0 0;color:var(--ion-color-primary)" name="golf"></ion-icon>
                  <div style="font-size: 0.8rem;">Web/Kiosco</div>
                </div>

                <div *ngIf="orden.via === 'app' " style="display: flex; flex-direction: row; align-items: center;">
                  <ion-icon style="margin: 0 0.5rem 0 0;color:var(--ion-color-primary)" name="phone-portrait">
                  </ion-icon>
                  <div style="font-size: 0.8rem;">App</div>
                </div>
              </div>

              <div style="display: flex; flex-direction: row;">
                <div>Hace</div>
                <div style="margin-left: 0.5rem;">{{orden.despachado_at|timeDiff:this.nowTime}}</div>
              </div>

              <div style="font-size: 0.8rem;margin: 0.3rem 0;">{{orden.resumenProductos}}</div>

              <div *ngIf="orden.client && orden.client.nombre">{{orden.client.nombre}}</div>

              <div *ngIf="orden.board && orden.board.nombre">
                {{orden.board.nombre}}
              </div>


            </div>
          </div>
          <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
        </ion-item>

      </div>

      <!-- ///////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////// PANELES PRINCIPALES /////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////// -->

    </div>

    <!-- detalles del pedido con todos sus productos en la compra -->
    <div *ngIf="showOrdenDetalle">
      <div style="display: flex;flex-direction: column;">

        <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
        <div (click)="showOrdenDetalle=false;tiempoDePreparacion=25"
          style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
          <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
          <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Regresar Al Tablero</div>
        </div>

        <!-- panel informativo Todo -->
        <div style="padding: 1rem;">

          <div *ngIf="item.is_overdue" class="alert-card">
            <img src="./../../../assets/images/danger.png" alt="" style="width: 32px;">
            <p>Esta retrasada la entrega de este pedido.</p>
            <p>Fecha de Entrega indicada al cliente:</p>
            <p style="clear:both">{{ item.dispatch_date }} ({{ moment(item.dispatch_date).fromNow() }})</p>
          </div>

          <!-- Estado y fecha del pedido -->
          <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">

            <!-- izda -->
            <div>
              <div style="font-weight: bold;font-size: 1.2rem;">{{item.estado}}</div>
              <div style="display: flex; flex-direction: row;">
                <div>Hace</div>
                <div style="margin-left: 0.5rem;">
                  {{item.created_at|timeDiff:this.nowTime}}
                </div>
              </div>
            </div>

            <!-- derecha -->
            <div style="margin-right: 6vw; color: var(--ion-color-primary);">
              <div style="font-size: 7vw; width: 100%; text-align: right;">
                {{item.order_code}}
              </div>
            </div>
          </div>


          <!-- info cliente y pago -->
          <div class="clienteInfo" style="display: flex; flex-direction: row;">

            <!-- panel izdo caso para cliente normal -->
            <div *ngIf="item.client" class="clienteInfoSeparado" style="display: flex;align-items: center;">

              <div
                style="font-size: 1rem; font-weight: bold;background-color: var(--ion-color-primary); color: white;border-radius: 1rem;padding: 0.5rem 1rem;position: absolute;top: -1rem;">
                Cliente
              </div>

              <div *ngIf="item.client && item.client.nombre" style="display: flex;flex-direction: row;flex-wrap: wrap;">
                <div style="font-weight: bold; font-size: 1.2;margin-right: 0.5rem;"> Nombre: </div>
                <div>{{item.client.nombre}}</div>
              </div>

              <div *ngIf="item.zone">
                <div>{{item.dir}}</div>
                <div>{{item.dir2}}</div>
                <div>{{item.zone.nombre+" ("+item.zone.code+") "+item.zone.ciudad }}</div>
              </div>

              <div *ngIf="item.client && item.client.tel"
                style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">
                <div style="font-weight: bold; font-size: 1.2;margin-right: 0.5rem;"> Tel Nº: </div>
                <div> {{item.client.tel}} </div>
              </div>

              <div *ngIf="item.client && item.client.email"
                style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">
                <div style="font-weight: bold; font-size: 1.2;margin-right: 0.5rem;"> Email:</div>
                <div> {{item.client.email}}</div>
              </div>
            </div>

            <!-- panel caso para Mesa (LOCAL) -->
            <div *ngIf="item.board" class="clienteInfoSeparado" style="display: flex;align-items: center;">

              <div
                style="font-size: 1rem; font-weight: bold;background-color: var(--ion-color-primary); color: white;border-radius: 1rem;padding: 0.5rem 1rem;position: absolute;top: -1rem;">
                Mesa
              </div>

              <div *ngIf=" item.board.nombre" style="display: flex;flex-direction: row;flex-wrap: wrap;">
                <div style="font-weight: bold; font-size: 1.2;margin-right: 0.5rem;"> Mesa: </div>
                <div>{{item.board.nombre}}</div>
              </div>

              <div *ngIf=" item.nombre_cliente" style="display: flex;flex-direction: row;flex-wrap: wrap;">
                <div style="font-weight: bold; font-size: 1.2;margin-right: 0.5rem;"> Cliente: </div>
                <div>{{item.nombre_cliente}}</div>
              </div>

            </div>

            <!-- panel drcho -->
            <div class="clienteInfoSeparado" style="display: flex;align-items: center;">

              <div
                style="font-size: 1rem; font-weight: bold;background-color: var(--ion-color-primary); color: white;border-radius: 1rem;padding: 0.5rem 1rem;position: absolute;top: -1rem;left: 0.5rem;">
                Información del Pedido
              </div>

              <div>
                <!-- <div style="font-weight: bold; font-size: 1.3rem;width: 100%;text-align: center;">Información del Pedido
              </div> -->
                <div style="display: flex;flex-direction: row;align-items: baseline;flex-wrap: wrap;">
                  <div style="font-weight: bold; font-size: 1.2;">Fecha:</div>
                  <div style="margin: 0 1rem;">{{item.created_at}}</div>
                  <div> Hace {{item.created_at|timeDiff:nowTime}} ( #{{ item.id }} )</div>
                </div>

                <div style="display: flex;flex-direction: row; flex-wrap: wrap;">
                  <div style="font-weight: bold; font-size: 1.2;">Método de Pago: </div>
                  <div style="padding: 0 1rem;">
                    {{item.pay_method.nombre}}
                    <i style="display: block;" *ngIf="item.pay_method.driver.type == 'effective' && item.ref_transaccion" style="padding: 0 1rem;">
                      El cliente indica: "{{ item.ref_transaccion }}"
                    </i>
                  </div>
                  
                </div>

                <div *ngIf="item.nombre_cliente" style="display: flex;flex-direction: row; flex-wrap: wrap;">
                  <div style="font-weight: bold; font-size: 1.2;">Nombre del cliente (Recogida): </div>
                  <div style="padding: 0 1rem;">{{ item.nombre_cliente }}</div>
                </div>

                <div *ngIf="item.tkwrestzone_id == null && item.via == 'app'" style="display: flex;flex-direction: row; flex-wrap: wrap;">
                  <div style="font-weight: bold; font-size: 1.2;">ESTE PEDIDO ES PARA RECOGIDA</div>
                </div>

                <div *ngIf="item.nota" style="display: flex;flex-direction: row; flex-wrap: wrap;">
                  <div style="font-weight: bold; font-size: 1.2;">Nota Añadida por el cliente: </div>
                  <div style="padding: 0 1rem;">{{ item.nota }}</div>
                </div>

              </div>
            </div>

          </div>


          <!-- cabecera tabla de productos -->
          <div
            style="display: flex; flex-direction: row; padding: 0.5rem 0.1rem; font-weight: bold; background-color: lightgray;">
            <div style="width: 30%;text-align: center;">Producto</div>
            <div style="width: 50%;text-align: center;">Observaciones</div>
            <div style="width: 20%;text-align: center;">Cantidad</div>
          </div>

          <!-- bucle de productos -->
          <div *ngFor="let prod of item.items"
            style="display: flex; flex-direction: row; border-bottom: 1px solid lightgray;padding: 0.5rem;">

            <!-- Producto -->
            <div style="width: 30%;display: flex;justify-content: center; align-items: center;text-align: center;">
              {{prod.item_name}}</div>
            <!-- Observaciones -->
            <div style="width: 50%;display: flex;justify-content: center; align-items: center;text-align: center;">
              {{prod.resumenExcluido}}
              <span *ngIf="prod.nota_variaciones" style="color: #444444">
                <br>
                {{ prod.nota_variaciones }}
              </span>
            </div>
            <!-- Cantidad -->
            <div style="width: 20%;display: flex;justify-content: center; align-items: center;text-align: center;">
              {{ prod.cantidad }}
              {{ (prod.item_name==='Gastos de Envío') ? prod.subtotal + ' €' : '' }}
            </div>

          </div>

          <!-- total a pagar -->
          <div style="display: flex; flex-direction: row;font-weight:bold;font-size: 1.2rem;justify-content: flex-end;">
            <div style="display: flex;flex-direction: row; align-items: baseline;    margin: 1rem 5vw;">
              <div>Total a pagar</div>
              <div style="margin-left: 1rem;zoom: 2;">{{item.total}}€</div>
            </div>
          </div>



          <!-- para enviar a preparación y notificar al cliente -->
          <div *ngIf="item && item.estado==='Pendiente'"
            style="display: flex; justify-content: center; align-items: center;margin-top: 2rem;">
            <div
              style="display: flex; flex-direction: column; justify-content: center; flex-wrap: wrap; position: relative;
    padding: 3rem 0.5rem 0.5rem 0.5rem; border-radius: 10px;    box-shadow: 0px 0px 9px -5px var(--ion-color-primary);width: 100%;">

              <div
                style="font-size: 1rem; font-weight: bold;background-color: var(--ion-color-primary); color: white;border-radius: 1rem;padding: 0.5rem 1rem;position: absolute;top: -1rem;">
                Tiempo de preparación
              </div>

              <!-- selector de minutos CASO TIME -->
              <div style="display: flex;min-width: 300px;" *ngIf="myV.dispatch_mode==='time'">

                <ion-button [disabled]="tiempoDePreparacion<=5"
                  style="width: 20%;--border-radius: 1rem 0 0 1rem;color: white;" (click)="btnTiempoPreparacionMenos()">
                  <ion-icon slot="icon-only" name="remove"></ion-icon>
                </ion-button>

                <ion-button style="width: 60%;" fill="outline">
                  <div
                    style="font-size: 2.5rem; font-weight: bold; align-items: center; justify-content: center; display: flex; text-align: center;">
                    {{tiempoDePreparacion}}
                  </div>
                </ion-button>

                <ion-button style="width: 20%;--border-radius: 0 1rem 1rem 0 ;color: white;"
                  (click)="btnTiempoPreparacionMas()">
                  <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
              </div>


              <!-- selector de minutos CASO DATE -->
              <div style="display: flex;min-width: 300px;flex-direction: column;" *ngIf="myV.dispatch_mode==='date'">

                <div>
                  Fecha de entrega aproximada:
                </div>
                <div style="background-color: whitesmoke; width: 100%; text-align: center; font-size: 30px;border: 1px solid var(--ion-color-primary);
                  border-radius: 5px; border: 2px solid #f15a24; margin-top: 10px;">
                  <ion-datetime mode="ios" display-format="DD/MM/YYYY  HH:mm" [(ngModel)]="dispatchDate.fecha"
                    cancelText="Cancelar" doneText="Listo" [min]="dispatchDate.minFecha" [max]="dispatchDate.maxFecha"
                    placeholder="Seleccionar Fecha"
                    style="--background: whitesmoke; width: 100%; text-align: center; font-size: 30px;">
                  </ion-datetime>
                </div>
              </div>




              <!-- btn aceptar y preparar Impresion y notificar al cliente -->
              <div style="display: flex; flex-direction: column;">

                <ion-button (click)="ordenAceptar()" expand="block" style="color: white;margin: 1rem 0;">
                  <ion-icon slot="start" name="timer"></ion-icon>
                  Aceptar y Preparar
                </ion-button>


                <ion-item style="--background: transparent;">
                  <ion-label>Imprime este pedido <br>
                    {{ printerSelected ? ' con ' + this.printerSelected.name:' (No hay impresora seleccionada)'}}
                  </ion-label>
                  <ion-toggle [(ngModel)]="togglePendienteImprimePedido" mode="ios" slot="start" color="primary"
                    [disabled]="!printerSelected">
                  </ion-toggle>
                </ion-item>

                <ion-item style="--background: transparent;">
                  <ion-label>Notificar al cliente</ion-label>
                  <ion-toggle [(ngModel)]="togglePendienteNotificarAlCliente" mode="ios" slot="start" color="primary">
                  </ion-toggle>
                </ion-item>

              </div>

              <!-- btn alular pedido -->
              <ion-button (click)="presentAlertPrompt()" expand="block"
                style="color: white;margin: 1rem 0;--background: darkolivegreen;margin: 2rem 0;">
                <ion-icon slot="start" name="trash"></ion-icon>
                Anular Pedido
              </ion-button>


            </div>
          </div>



          <!-- para enviar a panel Despachado -->
          <div *ngIf="item && item.estado==='EnPreparacion'"
            style="display: flex; justify-content: center; align-items: center;margin-top: 2rem;">
            
            <div
              style="display: flex; flex-direction: column; justify-content: center; flex-wrap: wrap; position: relative;
    padding: 3rem 0.5rem 0.5rem 0.5rem; border-radius: 10px; box-shadow: 0px 0px 9px -5px var(--ion-color-primary);width: 100%;">

              <div style="display: flex; flex-direction: column;">
                <ion-button (click)="ordenDespachar()" expand="block" style="color: white;margin: 1rem 0;">
                  <ion-icon slot="start" name="done"></ion-icon>
                  Despachar
                </ion-button>
              </div>

              <div>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-button [disabled]="!printerSelected" (click)="imprimirAdministrativo(item, printerSelected)"
                        expand="block" style="color: white;margin: 1rem 0;">
                        <ion-icon slot="start" name="print"></ion-icon>
                        Administrativo
                      </ion-button>
                    </ion-col>

                    <ion-col>
                      <ion-button [disabled]="!printerSelected" (click)="imprimirCocina(item, printerSelected)" expand="block"
                        style="color: white;margin: 1rem 0;">
                        <ion-icon slot="start" name="print"></ion-icon>
                        Preparacion (Cocina)
                      </ion-button>                      
                    </ion-col>

                    <ion-col>
                      <ion-button [disabled]="!printerSelected" (click)="imprimirAdminAndCocina(item, printerSelected)"
                        expand="block" style="color: white;margin: 1rem 0;">
                        <ion-icon slot="start" name="print"></ion-icon>
                        Ambos
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <hr />
              </div>

              <div *ngIf="item.dispatch_date">
                <div>
                  Reagendar despacho para la fecha:
                </div>
                <div style="background-color: whitesmoke; width: 100%; text-align: center; font-size: 30px;border: 1px solid var(--ion-color-primary);
                  border-radius: 5px; border: 2px solid #f15a24; margin-top: 10px;">
                  <ion-datetime mode="ios" display-format="DD/MM/YYYY HH:mm" [(ngModel)]="rescheduleDispatchDate.fecha"
                    cancelText="Cancelar" doneText="Listo" 
                    placeholder="Seleccionar Fecha"
                    style="--background: whitesmoke; width: 100%; text-align: center; font-size: 30px;">
                  </ion-datetime>
                </div>

                <ion-button (click)="ordenReagendarEnCasoDate()" expand="block"
                    style="color: white;margin: 1rem 0;--background: #f15a24; margin: 2rem 0;">
                    <ion-icon name="alarm-outline"></ion-icon>
                    Reagendar
                  </ion-button>
              </div>

              <div style="display: flex; flex-direction: column;">
                <ion-button (click)="presentAlertPrompt()" expand="block"
                  style="color: white;margin: 1rem 0;--background: darkolivegreen;margin: 2rem 0;">
                  <ion-icon slot="start" name="trash"></ion-icon>
                  Anular Pedido
                </ion-button>
              </div>

            </div>

          </div>



          <!-- para dar Orden por Finalizada -->
          <div *ngIf="item && item.estado==='Despachado'"
            style="display: flex; justify-content: center; align-items: center;margin-top: 2rem;">
            <div
              style="display: flex; flex-direction: column; justify-content: center; flex-wrap: wrap; position: relative;
    padding: 3rem 0.5rem 0.5rem 0.5rem; border-radius: 10px;    box-shadow: 0px 0px 9px -5px var(--ion-color-primary);width: 100%;">

              <div style="display: flex; flex-direction: column;">
                <ion-button (click)="ordenFinalizar()" expand="block" style="color: white;margin: 1rem 0;">
                  <ion-icon slot="start" name="done"></ion-icon>
                  Finalizar
                </ion-button>
              </div>

              <div>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-button [disabled]="!printerSelected" (click)="imprimirAdministrativo(item, printerSelected)"
                        expand="block" style="color: white;margin: 1rem 0;">
                        <ion-icon slot="start" name="print"></ion-icon>
                        Administrativo
                      </ion-button>
                    </ion-col>

                    <ion-col>
                      <ion-button [disabled]="!printerSelected" (click)="imprimirCocina(item, printerSelected)" expand="block"
                        style="color: white;margin: 1rem 0;">
                        <ion-icon slot="start" name="print"></ion-icon>
                        Preparacion (Cocina)
                      </ion-button>                      
                    </ion-col>

                    <ion-col>
                      <ion-button [disabled]="!printerSelected" (click)="imprimirAdminAndCocina(item, printerSelected)"
                        expand="block" style="color: white;margin: 1rem 0;">
                        <ion-icon slot="start" name="print"></ion-icon>
                        Ambos
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <hr />
              </div>

              <ion-button (click)="presentAlertPrompt()" expand="block"
                style="color: white;margin: 1rem 0;--background: darkolivegreen;margin: 2rem 0;">
                <ion-icon slot="start" name="trash"></ion-icon>
                Anular Pedido
              </ion-button>


            </div>
          </div>


        </div>
      </div>

    </div>

  </div>

</ion-content>