<!-- <app-header></app-header> -->

<ion-content>

    <div style="display: flex;justify-content: center;align-items: center;height: 100%;">
        <div class="animated fadeIn slow"
            style="display: flex;flex-direction: column; width: 85%; align-items: center;">

            <div>
                <img src="assets/images/TakeAway-Logo-2-1.png" alt="">
            </div>

            <div style="width: 100%; text-align: center; font-size: 2rem; font-weight: bold; margin: 2rem 0;">
                Iniciar Sesión
            </div>

            <ion-item style="width: 100%;">
                <ion-label position='floating' color="primary">Nombre de Usuario</ion-label>
                <ion-input type="text" [(ngModel)]="user.email"></ion-input>
            </ion-item>

            <ion-item style="width: 100%;">
                <ion-label position='floating' color="primary">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>

            <ion-spinner *ngIf="loading>0" style="zoom: 2;margin: 1rem 0 -1rem 2px;" name="bubbles" color="primary">
            </ion-spinner>

            <ion-button [disabled]="loading>0" (click)="btnEntrar()" color="primary"
                style="width: 50%;margin-top: 3rem;">
                <div style="color: white;font-weight: bold;text-transform: none;">
                    Entrar

                </div>
            </ion-button>

            <ion-button routerLink="inicio" expand="block" fill="clear" shape="round"
                style="width: 60%;text-transform: none;">
                Olvidé mi contraseña
            </ion-button>
        </div>
    </div>

</ion-content>