<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="reservas">
      <ion-icon name="calendar-sharp"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="restaurante">
      <ion-icon name="construct-sharp"></ion-icon>
      <ion-label>Restaurante</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle-sharp"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>