<app-header></app-header>
<ion-content style="--background: whitesmoke;">
  <ion-progress-bar *ngIf="loading>0" color="primary" type="indeterminate"></ion-progress-bar>

  <!-- ///////////////////////////////////// PANEL PRINCIPAL ///////////////////////////////////////// -->
  <div *ngIf="showPanelPrincipal" class="animated fadeIn"
    style="width: 100%; background-color: white; margin: 0.5rem 0;">
    <div style="color: var(--ion-color-primary); font-size: 1rem; font-weight: bold; margin: 0.3rem 1rem;">
      Configuración del Restaurante
    </div>

    <ion-item (click)="initFromPanel('horarios')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">Horarios</ion-label>
      <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="initFromPanel('zonas')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">Zonas</ion-label>
      <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="initFromPanel('pago')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">Métodos de Pago</ion-label>
      <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="initFromPanel('productos')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">Productos de la carta</ion-label>
      <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="initFromPanel('categorias')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">Categorias</ion-label>
      <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="initFromPanel('impresoras')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">Impresoras</ion-label>
      <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-item>

  </div>

  <!-- //////////////////////////////////////// ZONAS //////////////////////////////////////////// -->
  <div *ngIf="showZonas" class="animated fadeIn" style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('panelPrincipal')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Zonas</div>
    </div>

    <div *ngIf="allZonas && allZonas.length>0">
      <ion-item *ngFor="let item of allZonas">
        <ion-label style="font-weight: bold;font-size: 1.2rem;">{{item.nombre}} ({{item.code}})</ion-label>
        <ion-toggle [disabled]="item.status==='N'" mode="ios" [(ngModel)]="item.on"
          (click)="changeList('zone',item.id,item.on)" slot="start"></ion-toggle>
      </ion-item>

    </div>
  </div>



  <!-- //////////////////////////////////////// PAGO //////////////////////////////////////////// -->
  <div *ngIf="showPago" class="animated fadeIn" style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('panelPrincipal')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Métodos de Pago</div>
    </div>

    <div *ngIf="allPago && allPago.length>0">
      <ion-item *ngFor="let item of allPago">
        <img [src]="item.icon" alt="" style="height: 3rem; margin: 0.5rem;">
        <ion-label style="font-weight: bold;font-size: 1.2rem;">{{item.nombre}}</ion-label>
        <ion-toggle [disabled]="item.status==='N'" mode="ios" [(ngModel)]="item.on"
          (click)="changeList('payMethod',item.id,item.on)" slot="start"></ion-toggle>
      </ion-item>

    </div>

  </div>


  <!-- //////////////////////////////////////// PRODUCTOS //////////////////////////////////////////// -->
  <div *ngIf="showProductos" class="animated fadeIn" style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('panelPrincipal')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Productos de la Carta</div>
    </div>

    <div *ngIf="allProductos && allProductos.length>0">
      <ion-item *ngFor="let item of allProductos">
        <ion-label style="font-weight: bold;font-size: 1.2rem;">{{item.nombre}}</ion-label>
        <ion-toggle [disabled]="item.status==='N'" mode="ios" [(ngModel)]="item.on"
          (click)="changeList('product',item.id,item.on)" slot="start"></ion-toggle>
      </ion-item>

    </div>
  </div>


  <!-- //////////////////////////////////////// CATEGORIAS //////////////////////////////////////////// -->
  <div *ngIf="showCategorias" class="animated fadeIn" style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('panelPrincipal')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Categoría de Productos</div>
    </div>

    <div *ngIf="allCategorias && allCategorias.length>0">
      <ion-item *ngFor="let item of allCategorias">
        <ion-label style="font-weight: bold;font-size: 1.2rem;">{{item.nombre}}</ion-label>
        <ion-toggle [disabled]="item.status==='N'" mode="ios" [(ngModel)]="item.on"
          (click)="changeList('category',item.id,item.on)" slot="start"></ion-toggle>
      </ion-item>

    </div>

  </div>


  <!-- //////////////////////////////////////// IMPRESORA //////////////////////////////////////////// -->
  <div *ngIf="showImpresoras" class="animated fadeIn" style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('panelPrincipal')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Impresoras</div>
    </div>

    <ion-item (click)="initFromPanel('impresoraNueva')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">Agregar nueva Impresora</ion-label>
      <ion-icon name="add-circle" slot="end" style="zoom: 2;color: green;"></ion-icon>
    </ion-item>

    <ion-list *ngIf="allPrinter && allPrinter.length>0">
      <!-- <ion-radio-group [(ngModel)]="selectedPrinter"> -->

      <ion-item *ngFor="let impresora of allPrinter; let i = index">
        <div style="display: flex; flex-direction: row;justify-content: space-between;
              width: 100%;align-items: center; margin: 10px 0;">

          <div style="display: flex;flex-direction: row; align-items: center;">

            <ion-toggle mode="ios" [(ngModel)]="impresora.estado" (click)="cambioDeImpresora(i)" slot="start">
            </ion-toggle>


            <div style="display: flex;flex-direction: column;">
              <div style="display: flex; flex-direction: column;">
                <div style="font-size: 1.2rem; font-weight: bold;">{{impresora.name}}</div>
                <div>{{impresora.ip}}</div>
              </div>
            </div>

          </div>

          <ion-icon (click)="eliminarImpresora(i)" name="trash" slot="end"
            style="zoom: 1.5;margin-right: 7px; color: darkred;"></ion-icon>
        </div>
      </ion-item>

      <!-- </ion-radio-group> -->
    </ion-list>

    <div *ngIf="!allPrinter || allPrinter.length<1" style="    text-align: center;
    color: var(--ion-color-primary);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;">
      Sin Impresoras configuradas
    </div>

    <div *ngIf="allPrinter && allPrinter.length>0" style="text-align: center; width: 100%;padding: 1rem 0;">
      <ion-button [disabled]="!impresoraSeleccionada" (click)="probarImpresora(impresoraSeleccionada)" color="primary">
        <div style="display: flex;flex-direction: row; align-items: center; color: white;">
          <ion-icon name="print" style="zoom: 1.5;padding: 0.5rem;"></ion-icon>
          <div style="font-size: 1.2rem ">Probar Impresora</div>
        </div>
      </ion-button>
    </div>






  </div>


  <!-- //////////////////////////////////////// NUEVA IMPRESORA //////////////////////////////////////////// -->
  <div *ngIf="showImpresoraNueva" class="animated fadeIn"
    style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('impresoras')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Agregar nueva Impresora</div>
    </div>

    <div style="text-align: center; width: 100%; display: flex; justify-content: center;">
      <div style="display: flex; flex-direction: column; max-width: 500px;min-width: 350px;">

        <ion-item style="margin: 1rem 0;">
          <ion-label>Nombre: </ion-label>
          <ion-input type="text" [(ngModel)]="impresoraNueva.name"></ion-input>
        </ion-item>

        <ion-item style="margin: 1rem 0;">
          <ion-label>IP: </ion-label>
          <ion-input type="text" [(ngModel)]="impresoraNueva.ip"></ion-input>
        </ion-item>

        <ion-button (click)="agregarImpresora()" style="margin: 1rem 0; color: white;" expand="block" color="primary">
          <div style="color: white;text-transform: none;">
            Agregar Impresora
          </div>
        </ion-button>
      </div>
    </div>



  </div>












  <!-- //////////////////////////////////////// HORARIOS //////////////////////////////////////////// -->
  <div *ngIf="showHorarios" class="animated fadeIn" style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('panelPrincipal')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Horarios</div>
    </div>

    <ion-item (click)="initFromPanel('horarioSemanaDelivery','D')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">Horarios de Delivery</ion-label>
      <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="initFromPanel('horarioSemanaCocina','L')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">Horarios de Cocina (modo local)</ion-label>
      <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-item>

  </div>


  <!-- //////////////////////////////////////// HORARIO SEMANAS DELIVERY //////////////////////////////////////////// -->
  <div *ngIf="showHorarioSemanaDelivery" class="animated fadeIn"
    style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('horarios')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Horarios Delivery</div>
    </div>

    <!-- recorrido por dias de la semana -->
    <ion-item *ngFor="let dia of turnoDias" (click)="initFromPanel('horarioTurnoDelivery',dia)">
      <div style="display: flex; flex-direction: row; justify-content: space-between; 
      width: 100%;align-items: center; ">
        <div style="display: flex; flex-direction: row;align-items: center;">
          <ion-icon *ngIf="dia.turnos" slot="start" name="radio-button-on" style="zoom: 2;color: green;"></ion-icon>
          <ion-icon *ngIf="!dia.turnos" slot="start" name="radio-button-on" style="zoom: 2;color: darkred;"></ion-icon>

          <div style="display: flex; flex-direction: column;padding: 1rem;">
            <ion-label style="font-weight: bold;font-size: 1.2rem;">{{dia.dia}}</ion-label>
            <ion-label style="font-size: 1rem;">
              {{dia.turnos?dia.turnos.length:'Sin'}}
              turno{{dia.turnos && dia.turnos.length===1?'':'s'}}
            </ion-label>
          </div>
        </div>
        <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
      </div>
    </ion-item>


  </div>


  <!-- //////////////////////////////////////// HORARIO SEMANAS COCINA //////////////////////////////////////////// -->
  <div *ngIf="showHorarioSemanaCocina" class="animated fadeIn"
    style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('horarios')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Horarios Cocina (modo local)</div>
    </div>

    <!-- recorrido por dias de la semana -->
    <ion-item *ngFor="let dia of turnoDias" (click)="initFromPanel('horarioTurnoCocina',dia)">
      <div style="display: flex; flex-direction: row; justify-content: space-between; 
          width: 100%;align-items: center; ">
        <div style="display: flex; flex-direction: row;align-items: center;">
          <ion-icon *ngIf="dia.turnos" slot="start" name="radio-button-on" style="zoom: 2;color: green;"></ion-icon>
          <ion-icon *ngIf="!dia.turnos" slot="start" name="radio-button-on" style="zoom: 2;color: darkred;"></ion-icon>

          <div style="display: flex; flex-direction: column;padding: 1rem;">
            <ion-label style="font-weight: bold;font-size: 1.2rem;">{{dia.dia}}</ion-label>
            <ion-label style="font-size: 1rem;">
              {{dia.turnos?dia.turnos.length:'Sin'}}
              turno{{dia.turnos && dia.turnos.length===1?'':'s'}}
            </ion-label>
          </div>
        </div>
        <ion-icon style="zoom: 1.5;" slot="end" name="arrow-forward-circle-outline"></ion-icon>
      </div>
    </ion-item>


  </div>



  <!-- //////////////////////////////////////// HORARIO TURNO DELIVERY //////////////////////////////////////////// -->
  <div *ngIf="showHorarioTurnoDelivery" class="animated fadeIn"
    style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('horarioSemanaDelivery')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Turnos Delivery</div>
    </div>

    <ion-item (click)="initFromPanel('horarioNuevoDelivery')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">{{turnoOneDia.dia}}</ion-label>
      <ion-icon name="add-circle" slot="end" style="zoom: 2;color: green;"></ion-icon>
    </ion-item>

    <ion-item *ngFor="let turno of turnoOneDia.turnos; let i = index">
      <div style="display: flex; flex-direction: row;justify-content: space-between;
      width: 100%;align-items: center; margin: 10px 0;">
        <div style="display: flex;flex-direction: row; align-items: center;">
          <ion-toggle (click)="cambiarStatusTurno(turno,i)" [(ngModel)]="turno.status" mode='ios' color="primary"
            style="margin-right: 2rem;"></ion-toggle>
          <div style="display: flex;flex-direction: column;">
            <ion-label style="font-weight: bold;font-size: 1.2rem;">Turno {{i+1}}</ion-label>
            <ion-label style="font-size: 1rem;">
              {{turno.hora_inicio| to12h}} - {{turno.hora_fin| to12h}}</ion-label>
          </div>
        </div>
        <ion-icon (click)="eliminarTurnoPorId(turno.id,i)" name="trash" slot="end"
          style="zoom: 1.5;margin-right: 7px; color: darkred;"></ion-icon>
      </div>
    </ion-item>

    <div *ngIf="!turnoOneDia.turnos"
      style="padding: 1rem 0; color: red; font-size: 1.2; font-weight: bold;width: 100%;text-align: center;">
      Sin Turnos
    </div>

  </div>


  <!-- //////////////////////////////////////// HORARIO TURNO COCINA //////////////////////////////////////////// -->
  <div *ngIf="showHorarioTurnoCocina" class="animated fadeIn"
    style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('horarioSemanaCocina')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Turnos Cocina</div>
    </div>

    <ion-item (click)="initFromPanel('horarioNuevoDelivery')">
      <ion-label style="font-weight: bold;font-size: 1.2rem;">{{turnoOneDia.dia}}</ion-label>
      <ion-icon name="add-circle" slot="end" style="zoom: 2;color: green;"></ion-icon>
    </ion-item>

    <ion-item *ngFor="let turno of turnoOneDia.turnos; let i = index">
      <div style="display: flex; flex-direction: row;justify-content: space-between;
          width: 100%;align-items: center; margin: 10px 0;">
        <div style="display: flex;flex-direction: row; align-items: center;">
          <ion-toggle (click)="cambiarStatusTurno(turno,i)" [(ngModel)]="turno.status" mode='ios' color="primary"
            style="margin-right: 2rem;"></ion-toggle>
          <div style="display: flex;flex-direction: column;">
            <ion-label style="font-weight: bold;font-size: 1.2rem;">Turno {{i+1}}</ion-label>
            <ion-label style="font-size: 1rem;">
              {{turno.hora_inicio| to12h}} - {{turno.hora_fin| to12h}}</ion-label>
          </div>
        </div>
        <ion-icon (click)="eliminarTurnoPorId(turno.id,i)" name="trash" slot="end"
          style="zoom: 1.5;margin-right: 7px; color: darkred;"></ion-icon>
      </div>
    </ion-item>

    <div *ngIf="!turnoOneDia.turnos"
      style="padding: 1rem 0; color: red; font-size: 1.2; font-weight: bold;width: 100%;text-align: center;">
      Sin Turnos
    </div>


  </div>

  <!-- //////////////////////////////////////// HORARIO NUEVO DELIVERY //////////////////////////////////////////// -->
  <div *ngIf="showHorarioNuevoDelivery" class="animated fadeIn"
    style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('horarioTurnoDelivery')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Agregar nuevo Turno Delivery</div>
    </div>

    <div style="display: flex;justify-content: center;align-items: center;width: 100%; height: 100%;">
      <div style="display: flex; flex-direction: column;width: 350px;padding: 3rem 0;">

        <div style="text-align: center;margin: 1rem 0; font-size: 1.2rem; font-weight: bold;">{{turnoOneDia.dia}}</div>

        <ion-item style="margin: 1rem 0;">
          <ion-label>Inicio de Turno</ion-label>
          <ion-datetime mode='ios' [(ngModel)]="turnoNuevo.inicio" displayFormat="hh:mm a" cancelText="Cancelar"
            doneText="Listo" (ionChange)="turnoNuevoTimeChange()">
          </ion-datetime>
        </ion-item>

        <ion-item style="margin: 1rem 0;">
          <ion-label>Fin de Turno</ion-label>
          <ion-datetime mode='ios' [disabled]="!turnoNuevo.inicio" [(ngModel)]="turnoNuevo.fin" displayFormat="hh:mm a"
            cancelText="Cancelar" doneText="Listo">  <!-- Quite esta condicion que le da problemas a los clientes [min]="turnoNuevo.minFinTime" -->
          </ion-datetime>
        </ion-item>

        <ion-button (click)="agregarNuevoTurno()" style="margin: 1rem 0; color: white;" expand="block" color="primary">
          <div style="color: white;text-transform: none;">
            Agregar
          </div>
        </ion-button>
      </div>
    </div>

  </div>


  <!-- //////////////////////////////////////// HORARIO NUEVO COCINA //////////////////////////////////////////// -->
  <div *ngIf="showHorarioNuevoCocina" class="animated fadeIn"
    style="width: 100%; background-color: white; margin: 0.2rem 0;">

    <!-- boton regresar al panel de listas (salir de detalles de la orden) -->
    <div (click)="initFromPanel('horariosTurnoDelivery')"
      style="display: flex; flex-direction: row; align-items: center;padding: 1rem;">
      <ion-icon name="arrow-back-circle-outline" color="primary" style="zoom: 2;"></ion-icon>
      <div style="font-size: 1.2rem;font-weight: bold;padding-left: 1rem;">Agregar nuevo Turno Cocina</div>
    </div>

    <div style="text-align: center;margin: 1rem 0; font-size: 1.2rem; font-weight: bold;">{{turnoOneDia.dia}}</div>

    <ion-item style="margin: 1rem 0;">
      <ion-label>Inicio de Turno</ion-label>
      <ion-datetime mode='ios' [(ngModel)]="turnoNuevo.inicio" displayFormat="hh:mm a" cancelText="Cancelar"
        doneText="Listo" (ionChange)="turnoNuevoTimeChange()">
      </ion-datetime>
    </ion-item>

    <ion-item style="margin: 1rem 0;">
      <ion-label>Fin de Turno</ion-label>
      <ion-datetime mode='ios' [disabled]="!turnoNuevo.inicio" [(ngModel)]="turnoNuevo.fin" displayFormat="hh:mm a"
        cancelText="Cancelar" doneText="Listo">
      </ion-datetime>
    </ion-item>

    <ion-button (click)="agregarNuevoTurno()" style="margin: 1rem 0; color: white;" expand="block" color="primary">
      <div style="color: white;text-transform: none;">
        Agregar
      </div>
    </ion-button>


  </div>




</ion-content>